$width: 250px;
$height: 250px;
$borderSize: 3px;

.dropAreaContainer {
  .dropArea {
    display: block;
    margin: auto;
    width: $width;
    position: relative;

    svg {
      position: absolute;
      background-color: #ccc;
      border-radius: 100%;
      border: none;
      right: 14px;
      top: 10px;
      width: 20px;
      height: 20px;
      z-index: 10;

      &:hover {
        cursor: pointer;
        background-color: #fff;
      }
    }

    .uplaodBtn {
      position: absolute;
      top: 0;
      width: calc(#{$width} - (#{$borderSize} * 2));
      height: calc(#{$height} - (#{$borderSize} * 2));

      &:hover {
        cursor: pointer;
      }
    }

    img {
      min-width: calc(#{$width} - (#{$borderSize} * 2));
      min-height: calc(#{$height} - (#{$borderSize} * 2));
      width: calc(#{$width} - (#{$borderSize} * 2));
      height: calc(#{$height} - (#{$borderSize} * 2));
      overflow: hidden;
    }
  }
  .dropAreaErrorContainer {
    width: calc(#{$width} - (#{$borderSize} * 2));
    height: 18px;
    .dropAreaError {
      text-align: center;
      color: #f00;
      font-size: 14px;
    }
  }
}
