.modal {
  background-color: #fff;
  margin: 20px;
  min-width: 500px;

  .header,
  .footer,
  .content {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }

  .header {
    position: relative;

    .cross {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #777;
      border-radius: 100%;
      padding: 5px;
      &:hover {
        background-color: #ddd;
        cursor: pointer;
      }
    }
  }

  .footer {
    text-align: center;

    button {
      margin: 10px;
    }
  }

  &:focus {
    outline: none;
  }
}
