.align-right {
    text-align: right;
}

.messageContainer {
    margin: 5px;
}

.message {
    color: #333;
    border-radius: 6px;
    padding: 3px 6px;
    display: inline-block;
}

.self {
    background-color: #fdd;
    border: 2px solid #e99;
}

.other {
    background-color: #ddf;
    border: 2px solid #99e;
}

.robot {
    background-color: #dfd;
    border: 2px solid #9e9;
}
